{{#each randomBeer}}
{{> beerpartial this}}
<h5 class="card-title">Food pairing</h5>
<p class="card-text">{{food_pairing}}</p>
<h6 class="card-title">Brewer tips:</h6>
<p class="card-text">{{brewers_tips}}</p>
{{/each}}